.header {
	position: relative;
	margin-top: 15pt;
	width: 610pt;
	height: 60pt;
}

.main {
	height: 260pt;
	width: 610pt;
}

.content {
	height: 255pt;
}

.register {
	width: 240pt;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer {
	width: 610pt;
	height: 30pt;
	clear: both;
}

.label {
	float:right;
}